
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
front-angular/dist
front-angular/tmp
front-angular/out-tsc
front-angular/bazel-out

# Node
front-angular/node_modules
front-angular/npm-debug.log
front-angular/yarn-error.log

# IDEs and editors
backend/.idea/
backend/.project
backend/.classpath
backend/.c9/
backend/*.launch
backend/.settings/
backend/*.sublime-workspace


# Visual Studio Code
angular-front/.vscode/*
angular-front/!.vscode/settings.json
angular-front/!.vscode/tasks.json
angular-front/!.vscode/launch.json
angular-front/!.vscode/extensions.json
angular-front/.history/*
/angular-front/.vscode

# Miscellaneous
angular-front/.angular/cache
angular-front/.sass-cache/
angular-front/connect.lock
angular-front/coverage
angular-front/libpeerconnection.log
angular-front/testem.log
angular-front/typings

# System files
.DS_Store
Thumbs.db


######

backend/HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/**/src/main/**/target/
backend/**/src/test/**/target/

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/

### VS Code ###
backend/.vscode/

