<section class="vh-100">
    <div class="d-flex justify-content-center align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 23rem;">
            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Authorization</h3>
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example18">Username</label>
                <input type="text" id="username" class="form-control form-control-lg" formControlName="username" maxlength="20">
                <div class="text-danger" *ngIf="f.username.errors?.required && f.username.touched">Username is required</div>
                <div class="text-danger" *ngIf="f.username.errors?.pattern">Username must consist of numbers and letters!</div>
            </div> 
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example28">Password</label>
                <input type="password" id="password" class="form-control form-control-lg" formControlName="password" maxlength="30"/>
                <div class="text-danger" *ngIf="f.password.errors?.required && f.password.touched">Password is required</div>
                <div class="text-danger" *ngIf="f.password.errors?.maxLength">Password must be at most 35 characters long!</div>
                <div class="text-danger" *ngIf="f.password.errors?.pattern">Password must consist of numbers and letters!</div>
            </div>
            <div class="text-danger" *ngIf="authError">Authorization error!</div>
            <div class="pt-1 mb-4">
                <button [disabled]="!form.valid" class="btn btn-info btn-lg btn-block" type="submit">Sign In</button>
            </div>
        </form>
    </div>
</section>