<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Type</th>
        <th scope="col">Fur color</th>
        <th scope="col">Country</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let pet of loadedPets"> -->
        <tr *ngFor="let pet of this.stateManager.loadedPets">
            <th scope="row">{{ pet.id }}</th>
            <td>{{ pet.name }}</td>
            <td>{{ pet.code }}</td>
            <td>{{ pet.animalType }}</td>
            <td>{{ pet.furColor }}</td>
            <td>{{ pet.country }}</td>
            <td>
                <a [ngStyle]="{float: 'right'}" class="btn btn-primary" (click)="handleEditPet(pet)">Edit pet</a>
            </td>
        </tr>
    </tbody>
</table>