<div class="row">
    <div class="col-md-12 order-md-1">
        <form [formGroup]="form" *ngIf="form && selectors" class="needs-validation" novalidate (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label for="name">Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                </div>
                <div class="text-danger" *ngIf="f.name.errors?.required && f.name.touched">Name is required</div>
            </div>

            <div class="mb-3">
                <label for="code">Code</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="code" placeholder="Code" formControlName="code">
                </div>
                <div class="text-danger" *ngIf="f.code.errors?.required && f.code.touched">Code is required</div>
                <div class="text-danger" *ngIf="f.code.errors?.pattern && f.code.touched">Сode can consist of lowercase letters and numbers only!</div>
                <div class="text-danger" *ngIf="f.code.errors?.minLength && f.code.touched || f.code.errors?.maxLength && f.code.touched">Сode length must be 8 characters!</div>
            </div>

            <div *ngIf="f.animalType" class="mb-3">
                <label for="types">Type</label>
                <select class="custom-select d-block w-100" id="types" formControlName="animalType">
                    <option value="defTyp">Choose...</option>
                    <option *ngFor="let type of selectors.types" [ngValue]="type">{{ type }}</option>
                </select>
                <div class="text-danger" *ngIf="f.animalType.errors?.required && f.animalType.touched">Type is required</div>
            </div>

            <div class="mb-3">
                <label for="colors">Fur color</label>
                <select class="custom-select d-block w-100" id="colors" formControlName="furColor">
                    <option value="defCol">Choose...</option>
                    <option *ngFor="let color of selectors.colors" [ngValue]="color">{{ color }}</option>
                </select>
                <div class="text-danger" *ngIf="f.furColor.errors?.required && f.furColor.touched">Fur color is required</div>
            </div>

            <div class="mb-3">
                <label for="countries">Country of origin</label>
                <select class="custom-select d-block w-100" id="countries" formControlName="country">
                    <option value="defCountr">Choose...</option>
                    <option *ngFor="let country of selectors.countries" [ngValue]="country">{{ country }}</option>
                </select>
                <div class="text-danger" *ngIf="f.country.errors?.required && f.country.touched">Country is required</div>
            </div>

            <button class="btn btn-primary btn-lg btn-block"
                    type="submit"
                    [disabled]="!form.valid"
                    *ngIf="pet"
                    >
                Edit Pet
            </button>
            <button class="btn btn-primary btn-lg btn-block"
                    type="submit"
                    [disabled]="!form.valid"
                    *ngIf="!pet"
                    >
                Add Pet
            </button>
        </form>
    </div>
</div>